*{
    scrollbar-color: #fff transparent;
    scrollbar-width: thin;
}
body {
    margin: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

#__next {
    height: 100%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #181619 inset !important; /* Ajusta el color de fondo */
    -webkit-text-fill-color: #FFFFFF !important; /* Ajusta el color del texto */
  }
