.header{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .texts{
        width: 600px;
    }
    .illustration{
        display: flex;
        position: relative;
        z-index: -1;
        .containerPersons{
            position: absolute;
            right: 100px;
            top: 130px;
        }
    }
}