// ====================
//        COLORS
// ====================
$base: #e8e8e8;
$accent: #4e2482;
$hover: #9e71d5;
$gradientviolet: linear-gradient(270deg, rgba(235, 2, 255, 0.1) 6.12%, rgba(66, 16, 48, 0.047) 139.81%);

// ====================
//        TEXT
// ====================
p {
	color: #e8e8e8;
}